@use "./variables.scss" as *;

// put your custom CSS here!

/* Center Images with |center in alt text */
img[alt*="center"] {
  display: block;
  margin-inline: auto !important;
}

/* Center Images with #center in URL */
img[src$="#center"] {
  display: block;
  margin-inline: auto !important;
}