@use "./variables.scss" as *;

// put your custom CSS here!

/* Center Images with |center in alt text */
img[alt*="center"] {
  display: block;
  margin-inline: auto !important;
}

/* Center Images with #center in URL */
img[src$="#center"] {
  display: block;
  margin-inline: auto !important;
}

/* Keep explorer always visible */
.explorer {
  opacity: 1 !important;
  visibility: visible !important;
}

/* Rename explorer sidebar */
.explorer-title {
  display: none;
}

.explorer-title::after {
  content: "What's Inside";
  display: block;
}